.pseudo-footer {
	display: flex;
	height: 1.5em;
	padding: 0 0.5em;
	align-items: center;
	bottom: 0;
	position: fixed;
	background-color: white;
	width: 100%;
}
.logout {
	display: flex;
	align-items: center;
}
.small {
	font-size: small;
}
.button {
	cursor: pointer;
}
