html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box; }

.BNS-formbox {
  display: flex;
  border: 1pt solid #70a1ff;
  justify-content: space-between; }

.login-input.fix-BNS-input {
  border: 0pt;
  width: 90%;
  padding-right: 0pt; }

.BNS-option {
  display: flex;
  align-items: center;
  padding-right: 5%; }

.LoginFooter {
  padding-top: 30pt;
  display: flex;
  justify-content: center; }
  .LoginFooter img {
    width: 30pt;
    height: 100%;
    padding-left: 5pt; }

.root-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35pt;
  -webkit-box-shadow: 0pt 0pt 20pt 0pt rgba(15, 15, 15, 0.2);
  box-shadow: 0pt 0pt 20pt 0pt rgba(15, 15, 15, 0.2);
  margin-bottom: 30pt;
  align-items: center;
  transition: visibility 0.5s ease-out; }

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer; }

.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2pt solid #70a1ff; }

.box-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0pt 0pt 20pt 0pt rgba(15, 15, 15, 0.2);
  border-radius: 6pt;
  padding: 24pt; }

.inner-container {
  transition: visibility 0.2s ease-out; }

.inner-container.show {
  visibility: visible; }

.header {
  text-align: center;
  padding: 5pt;
  margin-bottom: 17pt;
  /* margin-left: 35pt; */
  /* margin-right: 35pt; */
  font-family: Ozxgen, sans-serif;
  font-size: 22pt;
  border-bottom: 2pt solid #70a1ff; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5pt;
  margin-bottom: 5pt; }

.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20pt;
  font-weight: 600;
  padding-left: 5pt; }

.login-input {
  height: 30pt;
  border-radius: 3pt;
  border: 1pt solid #70a1ff;
  transition: border 0.4s ease-out;
  padding: 8pt;
  font-family: Oxygen, sans-serif;
  font-size: 19pt;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01); }

.login-input:focus {
  box-shadow: 0pt 0pt 20pt rgba(15, 15, 15, 0.2); }

.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16pt;
  color: rgba(15, 15, 15, 0.4); }

.login-btn {
  border: 0;
  font-size: 18pt;
  border-radius: 3pt;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 1rem;
  box-shadow: 0 8pt 50pt -6pt rgba(84, 84, 120, 0.26);
  transition: background-color 0.3s ease-out;
  cursor: pointer; }

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white; }

.danger-error {
  color: #e74c3c;
  font-size: 16pt; }

.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20pt; }

.pwd {
  height: 6pt;
  flex: 1;
  visibility: hidden; }

.pwd-weak {
  background-color: #e74c3c; }

.pwd-medium {
  background-color: #3498db; }

.pwd-strong {
  background-color: #2ecc71; }

.show {
  visibility: visible; }

.error {
	color: red;
}

.forgetmenot {
	flex-direction: row;
	align-items: center;
}

input[type="checkbox"] {
	margin: 0 0.5em 0 0;
	vertical-align: bottom;
}
